.game-controls {
  width: 244px;
}

h4 {
  font-size: 30px;
  color: white;
  height: 50px;
}

span {
  vertical-align: middle;
}

.btn {
  background-color: black;
  border-color: black;
  font-size: 19px;
  color: white;
  font-size: 17px;
}

.btn:hover {
  background-color: #03A9F4;
  color: white;
  border-color: black;
}

#checkbox-container {
  text-align: center;
  padding: 5px;
  color: #03A9F4;
}

.game-container {
  background-color: black;
  width: 244px;
  margin: auto;
  padding-bottom: 5px;
  padding-top: 10px;
  border-radius: 1em;
}

.color-btn {
  display: inline-block;
  width: 110px;
  height: 110px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  opacity: .8;
}

#green-btn {
  background-color: #76ff03;
}

#red-btn {
  background-color: #f44336;
}

#yellow-btn {
  background-color: #ffeb3b;
}

#blue-btn {
  background-color: #2196F3;
}